{% load static %}

<!DOCTYPE html>
<html lang="en" >
   <head>
      <link rel="shortcut icon" href="{% static 'assets/img/favico.ico' %}" type="image/png"> 
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="description"
         content="Assalamualaikum Wr.Wb, dengan ini kami mengundang dalam acara tasyakuran/resepsi. Jikalau berhalangan untuk hadir,  kami sangat memaklumi dikarenakan masih pandemi covid-19. Terimakasih atas doa restu dan waktunya.">
      
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Syukuran Pernikahan | 22 Mei | Harry and Wilmy | Harry and Wilmy" />
      <meta property="og:description"
         content="Assalamualaikum Wr.Wb, dengan ini kami mengundang dalam acara tasyakuran/resepsi. Jikalau berhalangan untuk hadir,  kami sangat memaklumi dikarenakan masih pandemi covid-19. Terimakasih atas doa restu dan waktunya." />
      <meta property="og:image" content="{% static 'assets/img/hari-wilmi.jpg' %}" />
      <meta property="og:url" content="" />
      <meta property="og:site_name" content="Syukuran Pernikahan | 22 Mei | Harry and Wilmy" />
      <meta name="twitter:card" content="website">
      <meta name="twitter:site" content="Syukuran Pernikahan | 22 Mei | Harry and Wilmy">
      <meta name="twitter:title" content="Syukuran Pernikahan | 22 Mei | Harry and Wilmy">
      <meta name="twitter:description"
         content="">
      <meta name="twitter:creator" content="@Vinit_Shahdeo">
      <meta name="twitter:image" content="{% static 'assets/img/hari-wilmi.jpg' %}">

      <title>Syukuran Pernikahan | 22 Mei | Harry and Wilmy</title>

      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dancing+Script&amp;display=swap'>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      {% include "styles.html" %}

   </head>
   <body>
      <!-- partial:index.partial.html -->
      <div class="sakura-falling"></div>
      <img src="{% static '/assets/img/right.png' %}" alt="image-top-right" class="top-right-decoration">
      <img src="{% static '/assets/img/left.png' %}" alt="image-top-left" class="top-left-decoration"> 
      <section id="media"></section>
      <div class="wrap">
         <div class="title">
            <h1>{{ pengantin_putri.keterangan }} </h1>
            <h2>&</h2>
            <h1>{{ pengantin_putra.keterangan }}</h1>
            <h3>Syukuran Pernikahan</h3>
            
            <p>
               Sabtu <span class="date">22 Mei 2021</span></29>, At <span class="place">Rumah Pengantin Pria</span> <br>Alamat Langen Muktisari Langensari, Kota Banjar, <br> Belakang Pasar Langen               
            </p>
         </div>
      </div>
      <div id="time"></div>
      <p class="dance-med">
         Dinner & Pray to follow
      </p>
      <div class="actions">
        <a href="https://goo.gl/maps/jN9F2aVuqkZ1X1oQ7" target="_blank">
          <div class="venue">Cek Lokasi</div>
        </a>
        <a href="https://drive.google.com/file/d/1-_4QyJfSXOcO4eZjrTQ6lbRH1NUC79Zn/view?usp=sharing" download="Invitation | 8 April 2021 | Hope to see you there!" target=blank>
          <div class="venue">DOWNLOAD KARTU UNDANGAN</div>
        </a>
      </div>
      <p class="footer">
         Assalamualaikum Wr.Wb,<br> dengan ini kami mengundang dalam acara tasyakuran/resepsi. <br>Jikalau berhalangan untuk hadir,  kami sangat memaklumi dikarenakan masih pandemi covid-19. <br> Terimakasih atas doa restu dan waktunya
         <span></span>
      </p>
      <div class="music">
        <audio src="./assets/mp3/song.mp3" id="my_audio" loop="loop"></audio> 
      </div>
      <p class="happiness">Scroll Down to Know more!<br><a href="https://twitter.com/Vinit_Shahdeo" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></p>
      <!-- partial -->
      
      <div class="divider"></div>
      
      <div class="music-box">
         <button class="music-box-toggle-btn">
             <!--
                 <i class="fa fa-music"></i> -->
             <audio id='song' loop>
                 <source src="{% static 'songbiw.mp3' %}">
             </audio>
             
             <button type="button" class="music" id="unmute2-sound">
                 <img border="0" alt="" src="https://nikahankami.com/assets/soundgoldmusicoffwd.png"
                     width="20" height="20">
             </button>
             <button type="button" class="music" id="mute-sound">
                 <img border="0" alt="" src="https://nikahankami.com/assets/soundgoldmusicwd.png"
                     width="20" height="20">
             </button>
         </button>
       </div>
 
      
      
      
      
      
      {% include "menu.html" %}
      {% include "couple.html" %}
      {% include "event.html" %}
      {% include "moment.html" %}
      {% include "qwots.html" %}
      {% include "pop.html" %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
      {% include "scrips.html" %}
      <script src='https://cdn.jsdelivr.net/gh/timoschaefer/jQuery-Sakura/jquery-sakura.min.js'></script>
      <script  src="{% static './js/script.js' %}"></script>
      
   </body>

</html>
