{% load static %}
<div id="Couple" class="tabcontent">
    <!-- <h3>News</h3>
    <p>Some news this fine day!</p> -->

    <div class="corner1">
        <img src="{% static 'assets/img/left.png' %}" alt="" width="100%">
    </div>

    <div class="corner2">
        <img src="{% static 'assets/img/right.png' %}" alt="" width="100%">
    </div>

    <div class="corner3">
        <img src="" alt="" width="100%">
    </div>

    <div class="corner4">
        <img src="{% static 'assets/img/left-bottom.png' %}" alt="" width="100%">
    </div>

    <div class="corner5">
        <img src="{% static 'assets/img/de12oraset6.png' %}" alt="" height="80%">
    </div>

    <div class="corner6">
        <img src="{% static 'assets/img/de12oraset6.png' %}" alt="" height="80%">
    </div>

    <div id="bridewd" class="contentwd">

        <div class="ornamentwdtop" style="width: 100%; margin: 0px; text-align: center;">
            <img src="{% static 'assets/img/de12vintopwd.png' %}" alt="" style="display: inline-block;">
        </div>

        <div class="content4pad">
            <div>
                <p style="font-size: 30px; font-family: Angelface; padding-top: 30px; color: #404040"></p>
                <br>
                <br>
                <br>
                <br>

                <h3 style="font-family: Angelface; font-size: 35px; color: #404040">Bismillahirrahmanirrahim</h3>
                <div class="explainbride">
                                                    Assalamu`alaikum Warahmatullahi Wabarakatuh<br>
                          
                          
                    <br><br>
                    
                                                    Maha Suci Allah<br>
                          
                                                    yang telah menciptakan makhluk-Nya<br>
                          
                                                    berpasang-pasangan.<br>
                          
                                                    Ya Allah semoga ridho-Mu tercurah<br>
                          
                                                    mengiringi pernikahan putra-putri kami<br>
                          
                          


                </div>
            </div>
            <br>
            <div><img src="media/{{ pengantin_putri.gambar }}" width="40%" alt=""><br><span class="bridefont">{{ pengantin_putri.nama }}&nbsp;<span style="font-size: 14px"></span></span>
            </div>
            <div class="explainbride">Putri dari<br>Bpk. Akbar Zubair &amp; Ibu Andriani Misdar</div>
            <br>
            <div class="explainbride" style="font-size: 17px">Dan</div>
            <br>
            <div><img src="media/{{ pengantin_putra.gambar }}" width="40%" alt=""><br><span class="bridefont2">{{ pengantin_putra.nama }}&nbsp;<span style="font-size: 14px"></span></span>
            </div>
            <div class="explainbride">Putra dari<br>Bpk. Hadi Mustofa &amp; Ibu Maryati</div>
            <br>
            <br>
            <br> <br>
            <br>
            <br>
        </div>
        <div class="ornamentwdbtm" style="width: 100%; margin: 0px; text-align: center;">
            <img src="{% static 'assets/img/de12vinbotoml.png' %}" alt="" style="display: inline-block;" width="100%">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>



</div>