{% load static %}

<div id="Eventwd" class="tabcontent">

    <div class="corner1">
        <img src="{% static 'assets/img/left.png' %}" alt="" width="100%">
    </div>

    <div class="corner2">
        <img src="{% static 'assets/img/right.png' %}" alt="" width="100%">
    </div>

    <div class="corner3">
        <img src="" alt="" width="100%">
    </div>

    <div class="corner4">
        <img src="{% static 'assets/img/left-bottom.png' %}" alt="" width="100%">
    </div>

    <div class="corner5">
        <img src="{% static 'assets/img/de12oraset6.png' %}" alt="" height="80%">
    </div>

    <div class="corner6">
        <img src="{% static 'assets/img/de12oraset6.png' %}" alt="" height="80%">
    </div>

    <div id="homewd" class="contentwd">

        <div class="ornamentwdtop" style="width: 100%; margin: 0px; text-align: center;">
            <img src="{% static 'assets/img/de12vintopwd.png' %}" alt="" style="display: inline-block;" width="100%">
        </div>
        <div class="content4pad">
            <h3 class="event">Event</h3>
            <p class="explainbride">The Happy Day!</p>
            <p class="detail-event">Dengan memohon rahmat dan ridho Allah Subhanahu Wa Ta&#039;ala, kami mengundang Bapak/Ibu/Saudara(i) untuk menghadiri Resepsi Pernikahan putra-putri kami</p>

        <!-- <div class="containerngunduhwd">
            <div>
                <p style="font-size: 18px; font-family: dosis; padding-top: 30px"><b>Ngunduh Mantu</b></p>
            </div>

            <table>
                <tr>
                    <td><i class="fa fa-calendar"></i></td>
                    <td>Sabtu, 29 Februari 2020</td>
                </tr>
                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>
                <tr>
                    <td><i class="fa fa-clock-o"></i></td>
                    <td>10.00 WIB - selesai</td>
                </tr>
                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>
                <tr>
                    <td><i class="fa fa-map-marker"></i></td>
                    <td>Perumahan Griya Madu Permata</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Yukum Jaya, Kec. Terbanggi Besar,</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lampung Tengah</td>
                </tr>
            </table>
        </div> -->


        <div class="cardevent">
            <div class="row">

                <div class="column">
                    <div class="card">

                        <div class="containerijabwd">

                            <table style="color: #404040">
                                <tr>
                                    <td style="width: 20%"><img class="event-icon" src="{% static 'assets/img/de12wdakad.png' %}" width="100%"></td>
                                    <td></td>
                                    <td style="width: 80%"><p style="font-size: 18px; font-family: dosis; color: #404040"><b>Akad & Resepsi     Pernikahan</b></p></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-calendar"></i></td>
                                    <td>
                                        Kamis, 8 April 2021<br>

                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><br></td>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><i class="fa fa-clock-o"></i></td>
                                    <td>


                                        10.00 - 15.30 WITA<br>

                                    </td>
                                </tr>                  <tr>
                                    <td></td>
                                    <td><br></td>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>                        <i class="fa fa-map-marker"></i>
                                    </td>
                                    <td>Jl. Tumanurung Raya, Sungguminasa Kec. Somba Opu Kab. Gowa</td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="containerweddingwd">

                            <table align="right" style="color: #404040">
                                <tr>
                                    <td align="right" style="width: 80%;"><p style="font-size: 18px; font-family: dosis; color: #404040"><b>Unduh Mantu</b></p></td>
                                    <td></td>
                                    <td style="width: 20%"><img class="event-icon" src="{% static 'assets/img/de12wdresepsi.png' %}" width="100%"></td>
                                </tr>
                                <tr align="right">
                                    <td>
                                        Coming Soon Mei 2021

                                    </td>
                                    <td><i class="fa fa-calendar"></i></td>
                                    <td></td>
                                </tr>                      <tr>
                                    <td><br></td>
                                    <td><br></td>
                                    <td></td>
                                </tr>
                                <tr align="right">
                                    <td>


                                        Coming = Soon WIB<br>

                                    </td>
                                    <td><i class="fa fa-clock-o"></i></td>
                                    <td></td>
                                </tr>                      
                                <tr>
                                    <td><br></td>
                                    <td><br></td>
                                    <td></td>
                                </tr>
                                <tr align="right">
                                    <td>Link. Langen RT 02/01, Kel. Muktisari, Kec. Langensari, Kota Banjar, Jawa Barat</td>
                                    <td>
                                        <i class="fa fa-map-marker"></i>
                                 
                            </table>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            <!-- <div class="column">
                <div class="card">

                    <div class="containerijabwd">

                        <table style="color: #404040">
                            <tr>
                                <th style="width: 20%"><img src="https://nikahankami.com/assets/de12wdakad.png" width="100%"></th>
                                <th></th>
                                <th style="width: 80%"><p style="font-size: 18px; font-family: dosis; color: #404040"><b>Ngunduh Mantu</b></p></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><i class="fa fa-calendar"></i></td>
                                <td>                                                    Caming, Soon Mei 2021<br>
                                    
                                    </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><i class="fa fa-clock-o"></i></td>
                                <td>
                                                                
                                                                
                                    caming - soon WIB<br>
                                                                
                                    </td>
                            </tr>                  <tr>
                                <td></td>
                                <td><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>                        <i class="fa fa-map-marker"></i>
                                                                                </td>
                                <td>link. Langen RT 02/ 01</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>                        </td>
                                <td>
                                Muktisari, </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>                        </td>
                                <td>                Langensari,</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>                        </td>
                                <td>                Kota Banjar, Jawa Barat 46343</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> -->


</div>
</div>

<p class="explainbride"></p>
<p class="explainbride">

</p>
<p class="explainbride">  <br>
</p>


<div id="clockdiv">
    <div>
        <span class="days" id="day"></span>
        <div class="smalltext">Days</div>
    </div>
    <div>
        <span class="hours" id="hour"></span>
        <div class="smalltext">Hours</div>
    </div>
    <div>
        <span class="minutes" id="minute"></span>
        <div class="smalltext">Minutes</div>
    </div>
    <div>
        <span class="seconds" id="second"></span>
        <div class="smalltext">Seconds</div>
    </div>
</div>

<p id="demo">HAPPY WEDDING</p>

<p class="explainbride">  Merupakan suatu kehormatan dan kebahagiaan<br>
    bagi kami apabila Bapak/Ibu/Saudara(i)<br>
    berkenan untuk hadir atau cukup dengan memberikan do&#039;a restu<br>
    kepada kedua mempelai.<br>
</p>


<p class="explainbride">
</p>
<br> 
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.403840201801!2d119.44880691476433!3d-5.199045796227521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee239b424e11f%3A0x5690830ea7e9c6db!2sGedung%20Haji%20Bate!5e0!3m2!1sid!2sid!4v1617081214204!5m2!1sid!2sid" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<br>
<div><a href="https://www.google.com/maps/place/Gedung+Haji+Bate/@-5.1990458,119.4488069,17z/data=!3m1!4b1!4m5!3m4!1s0x2dbee239b424e11f:0x5690830ea7e9c6db!8m2!3d-5.1990458!4d119.4509956?hl=id" target="_blank" style="background-color: #6c5e6e; font-family: dosis; font-size: 18px; color: white; padding: 18px 30px; text-align: center; text-decoration: none; display: inline-block; border-radius: 8px"><strong>OpenMap Resepsi</strong></a>
</div>
<br>



<div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.9324513523516!2d108.6384133147756!3d-7.361468994687904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwMjEnNDEuMyJTIDEwOMKwMzgnMjYuMiJF!5e0!3m2!1sid!2sid!4v1617081111352!5m2!1sid!2sid" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>
<br>
<div><a href="https://goo.gl/maps/HRHJtYozWgLyV56U6" target="_blank" style="background-color: #6c5e6e; font-family: dosis; font-size: 18px; color: white; padding: 18px 30px; text-align: center; text-decoration: none; display: inline-block; border-radius: 8px"><strong>OpenMap NgunduhMantu</strong></a>
</div>
<br>
<br>
</div>

<div class="ornamentwdbtm" style="width: 100%; margin: 0px; text-align: center;">
    <img src="{% static 'assets/img/de12vinbotoml.png' %}" alt="" style="display: inline-block;" width="100%">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


</div>