<div class='popup'>
    <div class='cnt223'>
        <p><img src="https://nikahankami.com/assets/de12vintopwd.png" width="60%" style="text-align: center"></p>
        <p class="imgopenint"><img class='close' src="https://nikahankami.com/id/storage/foto_pop_up/1606278718openerimg.png" style="text-align: center"></p>

        <p style="text-align: center; line-height: normal;">{{status}} <br> Kepada Yth.<br><span style="font-size:12px">Bapak/Ibu/Saudara/i</span>

    
       <p style="color: #404040; font-size: 20px; font-weight:bold; padding-bottom:10px; border-radius:4px; text-align: center" >{{ tamu_undangan.nama }} <br><br> {{ tamu_undangan.keterangan }}</p>

        <!--<p style="color: #404040; font-size: 20px; font-weight:bold; padding-bottom:10px; border-radius:4px; text-align: center" id="write">  masyansen
</p>-->
    </p>
    <p><a href='' id="unmute-sound" class='close'>Buka Undangan</a></p>

    <div style="clear: both;"></div>

    <p><img src="https://nikahankami.com/assets/de12vintopwd.png" width="60%" style="transform: rotate(180deg); text-align: center"></p>
    </div>

</div>